[submodule "lib/liboi"]
	path = lib/liboi
	url = git://github.com/bkloppenborg/liboi.git
[submodule "lib/textio"]
	path = lib/textio
	url = git://github.com/bkloppenborg/textio.git
[submodule "lib/ccoifits"]
	path = lib/ccoifits
	url = git://github.com/bkloppenborg/ccoifits.git
