[submodule "lib/textio"]
	path = lib/textio
	url = https://github.com/bkloppenborg/textio
[submodule "lib/ccoifits"]
	path = lib/ccoifits
	url = https://github.com/bkloppenborg/ccoifits
[submodule "lib/liboi"]
	path = lib/liboi
	url = https://github.com/bkloppenborg/liboi
